.navbar {
  background-color: #556B2F; /* Olive Green Background Color */
  color: #fff; /* Text Color */
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
}

.navbar li {
  margin: 0 20px;
}

.navbar a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  font-size: 18px;
  transition: color 0.3s;
}

/* Style for active link */
.navbar a.active {
  color: #FFA500; /* Change color for the active link (e.g., orange) */
}

.navbar a:hover {
  color: #FFA500; /* Change color on hover (e.g., orange) */
}
