/* Skills.css */

.skills-section {
  background-color: #f5f5f5;
  padding: 50px 0;
  text-align: center;
}

.skills-container {
  max-width: 800px;
  margin: 0 auto;
}

h2 {
  font-size: 28px;
  margin-bottom: 30px;
  color: #556B2F;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skill-item {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px 20px;
  background-color: #556B2F;
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.skill-icon {
  width: 40px; /* Adjust the icon width as needed */
  height: 40px; /* Adjust the icon height as needed */
  margin-right: 10px;
}

/* Hover effect for skills */
.skill-item:hover {
  background-color: #36441e;
  cursor: pointer;
}

/* Responsive design (adjust as needed) */
@media (max-width: 768px) {
  .skill-item {
    margin: 10px 0;
  }
}
