/* Footer.css */

.footer {
  background-color: #556B2F; /* Dark Green Background Color */
  color: #fff; /* Text Color */
  padding: 10px 0; /* Reduced padding for a smaller footer */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-logo-img {
  max-width: 100%; /* Ensure the logo does not exceed the width of its container */
  max-height: 80px; /* Set a maximum height for the logo */
}

.footer-info {
  margin-top: 10px;
  font-size: 14px;
}

.footer-info p {
  margin: 0;
}
