.footer {
  background-color: #556B2F; /* Dark Green Background Color */
  color: #fff; /* Text Color */
  padding: 10px 80px;
  text-align: center;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between; 
  align-items: center; 
  width: 100%; 
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.3);
  position:fixed;
  bottom:0;
  left:0;
}

.footer-links ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px; /* Add spacing between links */
  margin: 0; /* Remove default margin */
}

.footer-links a {
  text-decoration: none;
  color: #fff;
  font-size: 15px;
  transition: color 0.3s;
}

.footer-links a:hover {
  color: #FFA500; /* Change color to orange on hover */
}

.footer-info {
  font-size: 12px;
}

.footer-info p {
  margin: 0;
}

