/* ContactInfo.css */

.contact-info {
  background-color: #333; /* Dark Gray Background Color */
  color: #fff; /* Text Color */
  padding: 40px 0;
  border-style: solid;
  border-color: #ffa500;
}

.contact-info-container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.contact-info h2 {
  font-size: 24px; /* Larger font size for the section title */
  margin-bottom: 20px;
  text-transform: uppercase; /* Uppercase text for the title */
  color: #ffa500; /* Orange color for the title */
}

.info {
  font-size: 16px;
  text-align: justify; /* Justify text for a cleaner look */
  padding: 20px; /* Increased padding for better spacing */
  border: 1px solid #ffa500; /* Orange border */
  border-radius: 5px;
  background-color: #333; /* Dark Gray background */
  margin: 20px 0;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Add a subtle box shadow */
}

.info .info-item {
  margin: 10px 0;
  display: flex;
  align-items: center;
}

.info strong {
  font-weight: bold;
  color: #556B2F; /* Dark Green color for strong elements */
  min-width: 120px; /* Set a minimum width for strong elements */
}

/* Media query for responsiveness */
@media (max-width: 600px) {
  .contact-info-container {
    padding: 0 20px;
  }

  .info {
    padding: 15px;
  }
}

.section-divider {
  border: none;
  border-top: 2px solid #556B2F; /* Orange color for the divider */
  margin: 40px 0; /* Adjust margin to control the gap size */
}